# Data Cleaning

In [17]:
import pandas as pd

pd.set_option('display.max_rows', 100)

df = pd.read_csv('books.csv')
df

,Name,Series,Description,Author,Age,Rating_out_of_5,No_of_Ratings,Price,Price_Befor,Cover_Type,Publication_Date,Product_Details,Best_Seller,Link
0,We Were Liars,NaN,"\n#1 NEW YORK TIMES BESTSELLER • A modern, sop...",E. Lockhart,Ages: 12 years and up,4.5,12.959,$5.99,$10.99,Paperback,2018-05-29,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,NaN,https://www.amazon.com/We-Were-Liars-Lockhart/...
1,Harry Potter Paperback Box Set (Books 1-7),NaN,"\nNow for the first time ever, J.K. Rowling’s ...",J. K. Rowling,Ages: 8 years and up,4.9,34.849,$50.00,$86.93,Paperback,2009-07-01,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,NaN,https://www.amazon.com/Harry-Potter-Paperback-...
2,If Animals Kissed Good Night,NaN,\nDon't miss the other books in this adorable ...,Ann Whitford Paul,Ages: 3 - 6 years,4.8,34.548,$4.79,$7.99,Board book,2014-06-03,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,in Poetry for Early Learning,https://www.amazon.com/If-Animals-Kissed-Good-...
3,My First Learn to Write Workbook: Practice for...,NaN,\nA lifetime of communication skills starts he...,Crystal Radke,Ages: 3 - 5 years,4.8,41.827,$5.39,$8.99,Paperback,2019-08-27,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,in Language Arts Teaching Materials,https://www.amazon.com/My-First-Learn-Write-Wo...
4,I Love You to the Moon and Back,NaN,\nShow your child just how strong your love is...,Amelia Hepworth,Ages: 2 - 5 years,4.9,20.949,$1.38,NaN,Board book,2015-03-03,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,in Children's Bear Books,https://www.amazon.com/I-Love-You-Moon-Back/dp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,Snow (Sunburst Books),NaN,\nSnow is a 1998 New York Times Outstanding Bo...,Uri Shulevitz,Ages: 4 - 7 years,4.7,553.000,$0.00,$7.93,Paperback,2004-09-23,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,NaN,https://www.amazon.com/Snow-Sunburst-Books-Uri...
1196,How Full Is Your Bucket? For Kids,NaN,\nAn illustrated adaptation of the long-runnin...,Tom Rath,Ages: 3 - 8 years,4.8,1.400,$17.95,$10.49,Hardcover,2009-04-01,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,NaN,https://www.amazon.com/How-Full-Your-Bucket-Ki...
1197,"Indestructibles: Love You, Baby: Chew Proof · ...",NaN,\nShow baby loads of love in a book that’s ind...,Stephan Lomp,Ages: 0 - 2 years,4.9,2.240,$5.89,NaN,Paperback,2017-08-08,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,NaN,https://www.amazon.com/Indestructibles-Love-Ba...
1198,"Disney - Mickey Mouse, Toy Story and More! Me ...",NaN,\nHave an adventure with characters from Disne...,Editors of Phoenix International Publications,NaN,4.7,747.000,$21.99,$25.98,Hardcover,2013-06-01,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,NaN,https://www.amazon.com/Disney-Electronic-Reade...
1199,Dinosaur Lady: The Daring Discoveries of Mary ...,NaN,\nA beautifully illustrated picture book biogr...,Linda Skeers,Ages: 4 - 8 years,4.9,269.000,$15.67,$17.99,Hardcover,2020-07-07,\n\n\n\nProduct details\n\n\n\n\n\nPublisher\n...,NaN,https://www.amazon.com/Dinosaur-Lady-Linda-Ske...

## Parse Age

In [18]:
df['Age'].unique()

array(['Ages: 12 years and up', 'Ages: 8 years and up',
       'Ages: 3 - 6 years', 'Ages: 3 - 5 years', 'Ages: 2 - 5 years',
       'Ages: 3 - 7 years', nan, 'Ages: 0 - 3 years',
       'Ages: 8 - 12 years', 'Ages: 7 years and up', 'Ages: 8 - 9 years',
       'Ages: 5 - 12 years', 'Ages: 4 - 7 years', 'Ages: 4 - 6 years',
       'Ages: 4 - 8 years', 'Ages: 4 years and up',
       'Ages: 9 years and up', 'Ages: 6 - 9 years',
       'Ages: 3 years and up', 'Ages: 5 - 9 years', 'Ages: 2 - 4 years',
       'Ages: 4 - 10 years', 'Ages: 0 - 4 years', 'Ages: 8 - 10 years',
       'Ages: 1 - 4 years', 'Ages: 6 years and up',
       'Great On Kindle: A high quality digital reading experience.Ages: 8 - 11 years',
       'Ages: 5 - 8 years', 'Ages: 4 - 9 years', 'Ages: 5 - 10 years',
       'Ages: 6 - 12 years', 'Ages: 7 - 10 years',
       'Ages: 10 years and up', 'Ages: 9 - 11 years', 'Ages: 1 - 3 years',
       'Ages: 1 - 8 years', 'Ages: 0 - 12 years', 'Ages: 6 - 11 years',
       'Ages: 8 - 11 years', 'Ages: 10 - 12 years', 'Ages: 2 - 8 years',
       'Ages: 0 - 2 years', 'Ages: 4 - 11 years', 'Ages: 9 - 12 years',
       'Ages: 2 - 6 years', 'Ages: 6 - 10 years', 'Ages: 5 years and up',
       'Ages: 7 - 11 years', 'Ages: 3 - 8 years', 'Ages: 1 - 12 years',
       'Ages: 6 - 8 years', 'Ages: 5 - 7 years', 'Ages: 7 - 9 years',
       'Ages: 11 years and up', 'Ages: 0 - 5 years', 'Ages: 5 - 6 years',
       'Ages: 7 - 12 years', 'Ages: 2 - 7 years', 'Ages: 7 - 8 years',
       'Ages: 6 - 7 years', 'Ages: 0 - 6 years', 'Ages: 1 year and up',
       'Ages: 0 - 9 years', 'Ages: 9 - 10 years', 'Ages: 2 - 12 years',
       'Ages: 0 - 11 years', 'Ages: 1 - 6 years', 'Ages: 10 - 11 years',
       'Ages: 3 - 9 years', 'Ages: 3 - 12 years',
       'Great On Kindle: A high quality digital reading experience.',
       'Ages: 1 - 5 years', 'Ages: 11 - 12 years',
       'Great On Kindle: A high quality digital reading experience.Ages: 8 - 12 years',
       'Ages: 0 - 7 years', 'Ages: 3 - 11 years', 'Ages: 4 - 5 years'],
      dtype=object)

In [19]:
df['Age'] = df['Age'].replace({
    'Great On Kindle: A high quality digital reading experience.Ages: 8 - 11 years': 'Ages: 8 - 11 years',
    'Great On Kindle: A high quality digital reading experience.': '0 - 12 years',
    'Great On Kindle: A high quality digital reading experience.Ages: 8 - 12 years' : '8 - 12 years',
})

In [20]:
import re
def lower_limit(x: str):
    if str(x) == 'nan': # this book doesn't have age
        return 0
    return re.findall(r'[\d]+', x)[0]
    
def upper_limit(x: str):
    if str(x) == 'nan': # this book doesn't have age
        return 0
    nums_found = re.findall(r'[\d]+', x)
    return 99 if len(nums_found) == 1 else nums_found[1] # return 99 if doesnt have upper age limit


df['min_age'] = df['Age'].map(lambda x: lower_limit(x))
df['max_age'] = df['Age'].map(lambda x: upper_limit(x))
df[['min_age', 'max_age']]

     min_age max_age
0         12      99
1          8      99
2          3       6
3          3       5
4          2       5
...      ...     ...
1195       4       7
1196       3       8
1197       0       2
1198       0       0
1199       4       8

[1200 rows x 2 columns]

In [21]:
df['max_age'].value_counts()

12    268
8     169
99    157
7     122
5      91
0      79
9      69
10     61
3      57
6      54
4      43
11     19
2      11
Name: max_age, dtype: int64

# Get Books Image

In [57]:
df['Link']

0       https://www.amazon.com/We-Were-Liars-Lockhart/...
1       https://www.amazon.com/Harry-Potter-Paperback-...
2       https://www.amazon.com/If-Animals-Kissed-Good-...
3       https://www.amazon.com/My-First-Learn-Write-Wo...
4       https://www.amazon.com/I-Love-You-Moon-Back/dp...
                              ...
1195    https://www.amazon.com/Snow-Sunburst-Books-Uri...
1196    https://www.amazon.com/How-Full-Your-Bucket-Ki...
1197    https://www.amazon.com/Indestructibles-Love-Ba...
1198    https://www.amazon.com/Disney-Electronic-Reade...
1199    https://www.amazon.com/Dinosaur-Lady-Linda-Ske...
Name: Link, Length: 1200, dtype: object

In [58]:
import requests
import bs4
import time
import random
def get_cover_url(url: str):
    HEADER = { # required in order to bypass amazon robots authorization, still doesn't always work
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
        "Accept-Language": "en-US,en;q=0.9",
        "Sec-Fetch-Site": "same-origin",
        "Sec-Fetch-User": "?1",
        "Upgrade-Insecure-Requests": "1",
        "User-Agent": "Mozilla/5.0 (X11; Linux aarch64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.188 Safari/537.36 CrKey/1.54.250320"
    }
    def try_until_has_access(url: str):
        try:
            response = requests.get(url, headers=HEADER).text
            parsed_response = bs4.BeautifulSoup(response, "html.parser")
            element = parsed_response.find(id="imgTagWrapperId")
            return element.find()['src'] # get the first child's src
        except AttributeError as e:
            return try_until_has_access(url)

    return try_until_has_access(url)

# Convert Books to Database

In [ ]:
from MengelolaBuku.models import User, Pengguna
from MengelolaBuku.models import Buku

sample = df.sample(90)
root = User.objects.get(username="root")
pengguna = Pengguna.objects.get(user=root)

for i, (inx, row) in enumerate(sample.iterrows()):
    if i % 3 == 0:
        print(f'{i+1} Data Done')
    Buku.objects.create(judul=row['Name'], author=row['Author'], min_age=row['min_age'], max_age=row['max_age'], desc=row['Description'], rating=row['Rating_out_of_5'], num_of_rating=row['No_of_Ratings'], image_url=get_cover_url(row["Link"]), user=pengguna)